html, body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  h1{
    font-family:'Kaushan Script', cursive;    
    font-weight: 500;
  }

  .resep{
    padding: 8px;
    padding-right: 40em;
    font-size: 9px;
    border-radius: 10px;
    border: none;
  }

  .cari-button{
    border: none;
    font-size: 8px;
    background-color: white;
    padding: 8px 15px;
    cursor: pointer;
    color: rgb(134, 103, 146);
    border-radius: 10px;
  }
  .cari-button:hover{
    background-color: rgb(225, 211, 231);
  }
  
 .main-content{
    width: 800px;
    margin: 0 auto;
    text-align: center;
 }
 .form-contact-us{
  width: 90%;
  text-align: center;
  margin: auto;
}

.inputan{
  width: 85%;
  text-align: left;
  display: block;
  margin: 0 auto;
}

.inputan > label{
  display: block;
  font-size: 1.2 em;
  margin: 0;
  padding: 0;
}

.inputan > input, .inputan > textarea{
  width: 100%;
  margin: .5em 0;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.kirim{
  width: 85%;
  margin: 1em 0;
  border: none;
  background-color: rgb(193, 168, 204);
  color: beige;
  font-size: 1em;
  padding: .5em 0;
}

.kirim:hover{
  background-color: rgb(164, 136, 175);
  font-weight: bold;
}

 .img-food{
    margin: 10px;
    margin-bottom: 20px;
    width: 38em;
    height: 15em;
    border-radius: 10px;
 }

 .nama-food, .bahan, .langkah{
    text-align: justify;
    background-color: white;
    width: 600px;
    margin: auto;
    border-radius: 10px;
    margin-bottom: .25em;
    padding: 10px;
}

 .bahan, .langkah{
    margin-bottom: .75em;
    
}

h2 {
    margin: 0;
    margin-left: 1.2em;
}

.bahan ul li{
  margin: 8px;
}

.langkah ol{
  margin-left: 0;
}

.langkah ol li{
  margin: 15px;
  text-align: justify;
}



